# linguist - ignore HTML, JS, and Rich Text Format
*.html linguist-vendored
*.js linguist-vendored
*.rtf linguist-vendored
*.tex linguist-vendored
*.bib linguist-vendored

# Allow Markdown
*.md -linguist-documentation
