*
!.gitignore
!themes/
!assets/
!snippets/
!plugins/
!app.json
!appearance.json
!backlink.json
!command-palette.json
!core-plugins.json
!community-plugins.json
!graph.json
!daily-notes.json
!hotkeys.json
!templates.json
!starred.json
!publish.json

