.theme-light,
.theme-dark {
    --background-primary:         #111827;
    --background-primary-alt:     #111827;
    --background-secondary:       #1F2937;
    --background-secondary-alt:   #1F2937;
    --text-normal:                #D1D5DB;
    --text-faint:                 #D1D5DB;
    --text-title-h1:              #D1D5DB;
    --text-title-h2:              #D1D5DB;
    --text-title-h3:              #D1D5DB;
    --text-title-h4:              #D1D5DB;
    --text-title-h5:              #D1D5DB;
    --text-title-h6:              #D1D5DB;
    --text-highlight-bg:          #374151;
    --text-link:                  #D1D5DB;
    --text-a-hover:               #D1D5DB;
    --inline-code:                #D1D5DB;
    --code-block:                 #D1D5DB;
    --text-a:                     #D1D5DB;
    --interactive-accent:         #00AAAD;
    --text-accent:                #00AAAD;
    --text-accent-hover:          #00AAAD;
    --text-on-accent:             #D1D5DB;
    --interactive-accent-rgb:     #D1D5DB;
    --interactive-accent-hover:   #00AAAD;
    --vim-cursor:                 #D1D5DB;
    --pre-code:                   #000000;
    --interactive-before:         #374151;
    --background-modifier-border: #374151;
    --text-selection:             #374151;
    --text-faint:                 #4B5563;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight),
.HyperMD-codeblock-bg,
.theme-dark pre[class*="language-"],
.markdown-preview-view code {
    background-color: var(--pre-code) !important;
    color: var(--code-block) !important;
}

.cm-s-obsidian pre.HyperMD-codeblock {
    color: var(--code-block);
}

.cm-s-obsidian span.cm-inline-code {
    color: var(--inline-code);
}

.checkbox-container.is-enabled {
    background-color: var(--text-selection);
}

.checkbox-container {
    background-color: var(--background-primary);
}

.dropdown {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOTIuNCIgaGVpZ2h0PSIyOTIuNCI+PHBhdGggZmlsbD0iIzAwQUFBRCIgZD0iTTI4NyA2OS40YTE3LjYgMTcuNiAwIDAgMC0xMy01LjRIMTguNGMtNSAwLTkuMyAxLjgtMTIuOSA1LjRBMTcuNiAxNy42IDAgMCAwIDAgODIuMmMwIDUgMS44IDkuMyA1LjQgMTIuOWwxMjggMTI3LjljMy42IDMuNiA3LjggNS40IDEyLjggNS40czkuMi0xLjggMTIuOC01LjRMMjg3IDk1YzMuNS0zLjUgNS40LTcuOCA1LjQtMTIuOCAwLTUtMS45LTkuMi01LjUtMTIuOHoiLz48L3N2Zz4=);
}
